<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu">
    <div class="menuItems ion-padding">

      <div class="log">
        <ion-input type="text" placeholder="name" clearInput [(ngModel)]="name"></ion-input>
      </div>
      <div class="log">
        <ion-input clearInput type="text" placeholder="surname" [(ngModel)]="sName"></ion-input>
      </div>

      {{name}} {{sName}}
    </div>

    <div class="btn ion-padding">
      <ion-button expand="block" fill="outline" (click)=" submit()">submit</ion-button>
    </div>
    <div class="btn ion-padding">
      <ion-button expand="block" fill="outline" (click)="view()">view</ion-button>
    </div>


    

  </div>
</ion-content>